
body{
	background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRCxralqwijve00BIYTV6nkeLL3DXVBHlfjJvOXMzPoHGLjx02v5BiyA10');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
}
#art{
	display: block;
	margin: 0 auto;
	padding-top: 25px;
	height: 500px;
}
#panel{
	height:575px;
	width:150px;
	background-color: hsla(210,60%,60%,.6);
	float:left;
	border-radius: 10px;
}

button{
	width:6em;
	height:4em;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 1px;
	margin:20px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 6px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
}
a{
	text-decoration: none;
	width:6em;
	height:4em;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	margin:20px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 6px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
}
.active{
	clear:right;
	background-color: hsla(230,60%,60%,.6);
	height:575px;
	margin-left: 150px;
	font-size: 20pt;
	border-radius: 10px;
	display: block;
}
.favorites{
	padding-top: 25px;
}
p{
	margin:0;
}
h3{
	margin:0;
}
#gif{
	display: block;
	margin: 0 auto;
	margin-top: 10pt
}
#logan{
	height:200px;
	width:150px;
	background-color: none;
}
#wolfgang{
	width:200px;
	height:150px;
}
.career{
	background-color: hsla(230,60%,60%,.6);

	font-size: 20pt;
	border-radius: 10px;
	min-height:100vh;
}
.response{
	display: none;
}

.kids{
	margin-left: auto;
	margin-right: auto;
}
